body {
  font-family: arial, sans-serif;
}

h1 {
  color: cornflowerblue;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
font-size: 24px;
  color: cornflowerblue;
  font-weight: 100;
  line-height: 19px;

}

li:first-letter {
  text-transform: capitalize;
  list-style: none;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: grey;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
margin-top: 20px;
text-align: center;
color:cornflowerblue

}

.weather-forecast-date {
  font-size: 16px;
  color: cornflowerblue;
  opacity: 0.3;

}
.weather.forecast.temp.min {
  opacity: 0.3;
}

.weather-forecast-temp {
  font-size: 14px;
}